<body style="background-image: url('assets/images/background.jpg')">
  <div class="py-5">
    <div
      class="card"
      style="
        width: 40rem;
        background-color: rgba(245, 245, 245, 0.4);
        opacity: 1;
        margin-left: 25rem;
        margin-top: 5rem;
      "
    >
      <div class="card-header" style="font: bold; font-size: 2rem">
        Şifremi Unuttum
      </div>
      <ul
        class="list-group list-group-flush"
        style="
          width: 30rem;
          margin-left: 5rem;
          margin-top: 15px;
          margin-bottom: 15px;
        "
      >
        <form class="" autocomplete="off">
          <div class="mb-3">
            <h3>
              Üyelik formunda kayıtlı olan e-posta adresinizi aşağıdaki alana
              yazarak "Gönder" butonuna tıklayın.
            </h3>
            <label
              for="exampleInputEmail1"
              class="form-label"
              style="color: black"
              >E-posta adresi
            </label>
            <input
              type="email"
              class="form-control"
              id="mail"
              aria-describedby="emailHelp"
            />
          </div>
          <button id="submit" class="btn btn-success" style="float: right;" onclick="alert('Sıfırlama e-postası gönderildi')">Gönder</button>
        </form>
      </ul>
    </div>
  </div>
</body>
