<body style="background-image: url('assets/images/background.jpg'); margin-bottom: 15px;">
  <div class="py-5">
    <div
      class="card"
      style="
        width: 80rem;
        background-color: rgba(245, 245, 245, 0.4);
        opacity: 1;
        margin-left: 7rem;
        margin-top: 5rem;
      "
    >
      <div class="card-header" style="font: bold; font-size: 2rem">
        Hakkımızda
      </div>
      <ul
        class="list-group list-group-flush"
        style="
          width: 30rem;
          margin-left: 5rem;
          margin-top: 15px;
          margin-bottom: 15px;
        "
      >
        <div>
          <h2>Biz Kimiz</h2>
          <hr />
          <div>adasdasdasd</div>
          <img
            style="margin-top: 1cm"
            src="assets/images/Algorithym.jpg"
            class="d-block w-100"
            alt="..."
          />
          <h2>Vizyon</h2>
          <hr />
          <div>adasdasdasd</div>
          <h2>Misyon</h2>
          <hr />
          <div>asdasdasdasd</div>
        </div>
      </ul>
    </div>
  </div>
</body>
