<div
  style="
    background-image: url('assets/images/background.jpg');
    margin-bottom: 15px;
  "
>
  <div class="py-5">
    <div
      class="card"
      style="
        width: 40rem;
        background-color: rgba(245, 245, 245, 0.5);
        margin-left: 25rem;
        margin-top: 3rem;
      "
    >
      <div class="card-header" style="font: bold; font-size: 2rem">
        Kan Bağışcısı Kayıt Formu
      </div>
      <ul
        class="list-group list-group-flush"
        style="
          width: 30rem;
          margin-left: 5rem;
          margin-top: 15px;
          margin-bottom: 15px;
        "
      >
        <form class="row g-3">
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">İsim</label>
            <input
              type="text"
              class="form-control"
              placeholder="İsim"
              id="name"
            />
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Soyisim</label>
            <input
              type="text"
              class="form-control"
              placeholder="Soyisim"
              aria-label="Last name"
              id="lastName"
            />
          </div>
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">E-posta</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="ornek@ornek.com"
            />
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Şifre</label>
            <input type="password" class="form-control" id="password" />
          </div>
          <div class="col-12">
            <label class="form-label" for="typePhone">Telefon Numarası</label>
            <input
              type="tel"
              id="typePhone"
              class="form-control"
              id="phoneNumber"
              placeholder="05xx xxx xx xx"
            />
          </div>

          <div class="col-12">
            <label class="form-label" for="typeId" 
              >Tc Kimlik No</label
            >
            <input
              type="Id"
              id="typeId"
              class="form-control"
              id="identityNumber"
              placeholder="xxx xxx xx xxx"
            />
          </div>

          <div class="col-12">
            <label class="form-label" for="typeId" 
              >Doğum Yılı</label
            >
            <input
            
              type="date"
              class="form-control"
              id="birthDay"
              name="birthday"
              placeholder="örn:1999"
            />
          </div>

          <div class="col-md-4">
            <label for="inputState" class="form-label">Kan Grubu</label>
            <select id="bloodType" class="form-select">
              <option value="1">A+</option>
              <option value="2">B+</option>
              <option value="3">AB+</option>
              <option value="4">0+</option>
              <option value="5">A-</option>
              <option value="6">B-</option>
              <option value="7">AB-</option>
              <option value="8">0-</option>
            </select>
          </div>

          <div class="col-12">
            <button
              type="submit"
              class="btn btn-success"
              (click)="userRegister()"
            >
              Kayıt Ol
            </button>
            
          </div>
        </form>
      </ul>
    </div>
  </div>
</div>
