<body
  style="
    background-image: url('assets/images/background.jpg');
    margin-bottom: 15px;
  "
  
>
  <div class="container">
    <div class="card"  style="background-color: rgba(245, 245, 245, 0.5)">
      <div style="margin-top: 15px;">
        <div class="page-content-header">
          <div class="row">
            <div class="col-md-8 col-sm-12">
              <h2 class="page-title" style="margin-top: 5px">
                <Strong>Sık Sorulan Sorular</Strong>
              </h2>
            </div>
            <hr />
          </div>
        </div>

        <div class="accordion" id="accordionExample" *ngFor="let faq of faqs"   >
          <div class="accordion-item"  >
            <h2 class="accordion-header" id="headingOne" >
              <button
                id="button1"
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
                
              >
             {{faq.question}}
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body" >
               {{faq.answer}}
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</body>
