<body
  style="
    background-image: url('assets/images/background.jpg');
    margin-bottom: 15px;
  "
>
  <div
    class="py-5"
   
  >
    <div
      class="card"
      style="
        width: 80rem;
        background-color: rgba(245, 245, 245, 0.4);
        opacity: 1;
        margin-left: 7rem;
        margin-top: 5rem;
      "
    >
      <a style="text-align: center; color: black; font-weight: bold; font-size: 5ch;">Kayıt Başarılı</a>
      <a [routerLink]="['/login']" routerLinkActive="router-link-active" style="color: black; text-align: center; font-size: 5ch;">Giriş Yapmak İçin Buraya Tıklayın </a>
     
        
      
    </div>
  </div>
</body>
