<body style="background-image: url('assets/images/background.jpg')">
  <div class="py-5">
    <div
      class="card"
      style="
        width: 40rem;
        background-color: rgba(245, 245, 245, 0.4);
        opacity: 1;
        margin-left: 25rem;
        margin-top: 5rem;
      "
    >
      <div class="card-header" style="font: bold; font-size: 2rem">Giriş</div>
      <ul
        class="list-group list-group-flush"
        style="
          width: 30rem;
          margin-left: 5rem;
          margin-top: 15px;
          margin-bottom: 15px;
        "
      >
        <form class="" autocomplete="off">
          <div class="mb-3">
            <p class="valid">başarılı</p>
            <p class="error">error</p>
            <label
              for="exampleInputEmail1"
              class="form-label"
              style="color: black"
              >E-posta adresi
            </label>
            <input
              type="email"
              class="form-control"
              id="mail"
              aria-describedby="emailHelp"
             
            />
            <div id="emailHelp" class="form-text" style="color: black">
              Mail adresiniz hiç kimse ile paylaşılmayacaktır.
            </div>
          </div>

          <div class="mb-3">
            <label
              for="exampleInputPassword1"
              class="form-label"
              style="color: black"
              >Şifre</label
            >
            <input
              type="password"
              class="form-control"
              id="pass"
             
            />
          </div>
          <div class="mb-3 form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
            />

            <label class="form-check-label" for="exampleCheck1"
              >Beni Hatırla</label
            >
            <a
              href="login/forgot-password"
              style="color: rgba(0, 0, 0, 0.585); margin-left: 15rem"
            >
              Şifremi Unuttum
            </a>
          </div>

          <button
            id="submit"
            class="btn btn-success"
            (click)="userLogin()"
          >
            Giriş
          </button>
        </form>
      </ul>
    </div>
  </div>
</body>
