<body style="background-image: url('assets/images/background.jpg')" mg>
  <div class="container">
    <div class="header"></div>
    <div class="main-body">
      <div class="row" style="margin-top: 3rem">
        <div class="col-lg-4">
          <div
            class="card"
            style="opacity: 1; background-color: rgba(245, 245, 245, 0.4)"
          >
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <img
                  src="https://bootdey.com/img/Content/avatar/avatar6.png"
                  alt="Admin"
                  class="rounded-circle p-1 bg-primary"
                  width="110"
                />
                <div class="mt-3">
                  <h4 style="color: black">{{ user.name.toUpperCase() }}</h4>
                  <h4 class="text mb-1" style="color: black">
                    Id: {{ user.userId }}
                  </h4>
                  <h4 class="text mb-1" style="color: black">
                    {{ user.email }}
                  </h4>
                  <h4 class="text mb-1" style="color: black">
                    +90{{ user.phoneNumber }}
                  </h4>
                  <h4 class="text mb-1" style="color: black">
                    {{ user.identityNumber }}
                  </h4>

                  <button
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop"
                  >
                    Donör Ol
                  </button>
                  <div class="container">
                    <div
                      class="modal fade"
                      id="staticBackdrop"
                      data-bs-backdrop="static"
                      data-bs-keyboard="false"
                      tabindex="-1"
                      aria-labelledby="staticBackdropLabel"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">
                              Donorlük Onayı
                            </h5>
                            <button
                              type="button"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"
                            ></button>
                          </div>
                          <div class="col-12">
                            <div class="form-check form-switch">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                role="switch"
                                id="alcholStatus"
                              />
                              <label> Alkol Kullanıyor Musunuz? </label>
                            </div>
                            <div class="form-check form-switch">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                role="switch"
                                id="drugStatus"
                              />
                              <label> Madde Bağımlılığınız Var Mı? </label>
                            </div>
                            <div class="form-check form-switch">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                role="switch"
                                id="diseaseStatus"
                              />
                              <label>
                                Kan Vermenize Engel Olacak Hastalığınız Var Mı?
                              </label>
                            </div>
                            <div class="form-check form-switch">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                role="switch"
                                id="medicationStatus"
                              />
                              <label>
                                Kan Vermenize Engel Olacak Kullandığınız İlaç
                                Var Mı?
                              </label>
                            </div>

                            <div style="margin-left: 4cm">
                              <div class="col-sm-4">
                                <div class="mb-2">Şehir</div>
                              </div>
                              <div class="col-sm-8 text-secondary">
                                <select
                                  class="form-select"
                                  name="city"
                                  id="city"
                                >
                                  <option
                                    *ngFor="let city of cities"
                                    value="{{ city.cityId }}"
                                  >
                                    {{ city.cityName }}
                                  </option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="modal-body">
                            Donör Olmayı Onaylıyor Musunuz?
                          </div>
                          <div class="modal-footer">
                            <button
                              type="button"
                              class="btn btn-secondary"
                              data-bs-dismiss="modal"
                            >
                              Kapat
                            </button>
                            <button
                              type="button"
                              class="btn btn-primary"
                              data-bs-dismiss="modal"
                              (click)="addDonor()"
                            >
                              Onaylıyorum
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4" />
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div
            class="card"
            style="opacity: 1; background-color: rgba(245, 245, 245, 0.4)"
          >
            <div class="card-body">
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Ad- Soyad</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input
                    type="text"
                    class="form-control"
                    id="fullName"
                    placeholder="Ahmet Bilmemne"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">İrtibat</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input
                    type="text"
                    class="form-control"
                    id="phoneNumber"
                    placeholder="(554) 332 25 65"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Kan Grubu</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <select id="bloodType" class="form-select">
                    <option value="1">A+</option>
                    <option value="2">B+</option>
                    <option value="3">AB+</option>
                    <option value="4">O+</option>
                    <option value="5">A-</option>
                    <option value="6">B-</option>
                    <option value="7">AB-</option>
                    <option value="8">O-</option>
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Şehir</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <select class="form-select"  id="cityId">
                    <option *ngFor="let city of cities"  name="city" value={{city.cityId}}>{{ city.cityName }} </option>
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Açıklama</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input
                    type="text"
                    class="form-control"
                    id="explanation"
                    placeholder="SDÜ Hastanesi"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Aciliyet Durumu</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <select id="urgency" class="form-select">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-9 text-secondary">
                  <input
                    type="button"
                    class="btn btn-primary px-4"
                    value="İlan Ekle"
                    (click)="addAnnouncement()"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
